#react-root, .fullSize {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
}

.sideBar {
  display: none;
  width: 260px;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 21;
  &.open {
    display: block;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  .overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 20;
    background-color: rgba(0, 0, 0, .4);
    display: none;
  }
  &.dimmed .overlay {
    display: block;
  }
}

@statusBarSize: 20px;
@navBarHeight: 2em;
.navBar {
  user-select: none;
  background-image: linear-gradient(269deg, #F3C7A1 25%, #E87975 82%);
  flex-basis: @navBarHeight;

  font-size: 1.5rem;
  text-align: center;
  color: #FFFFFF;

  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 .5em;

  &.withStatus {
    padding-top: @statusBarSize;
    flex-basis: calc(~"@{navBarHeight} + @{statusBarSize}");
  }

  p.title {
    flex: 1;
    margin: 0;
  }

  i.icon {
    display: block;
    text-align: center;
    min-width: 1.5em;
    margin: 0;
  }
}

.layoutContent {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  flex: 1;
  padding: 10px;
}

.messageInputBox {
  flex-shrink: 0;
  padding: 4px;
  .ui.fluid.input {
    width: 100%;
  }
  margin: 0 !important;
}
