@import '../../config'

.notation
  display:     flex;
  align-items: center;
  font-size:   2em;
  margin:      0 .4em;

.statsTable
  text-align:     center;
  display:        flex;
  margin:         .4em;
  flex-direction: row;
.statsColumn
  display:        flex;
  flex-direction: column;
  flex:           1;
  margin:         .2em;
.statsHeader
  font-family:             $heading-font;
  background-color:        $accent2;
  color:                   $canvas;
  border:                  solid 1px $accent1;
  border-top-right-radius: .6em;
  border-top-left-radius:  .6em;
  border-bottom:           none;
.statsValue
  font-size:                  1.5em;
  padding:                    .2em;
  border:                     solid 1px $accent1;
  border-bottom-right-radius: .4em;
  border-bottom-left-radius:  .4em;
  border-top:                 none;

.buttonsRow
  display:        flex;
  flex-direction: row;
  .cancel
    modal-button($primary1)
  .roll
    modal-button()
