@import '../../config'

.notation
  display:     flex;
  align-items: center;
  font-size:   2em;

.buttonsRow
  display:        flex;
  flex-direction: row;
  button
    simple-button($canvas, $accent1);
    margin: .2em;
    flex:   1;
