@import "../config.styl";

.container
  display: flex;
  align-items: flex-end;
  margin: 1em;

.avatar
  flex: 1;

.content
  flex: 10;
  display: flex;
  flex-direction: column;

  .name
    color: $primary1;
    padding: 0 3em;


  .text
    display: flex;
    margin: 0 1em;
    .line
      align-self: stretch;
      display: block;
      border-right: solid .3em $primary1;
      border-bottom-right-radius: 1em;
      width: 1em;
      margin-top: 1em;
    .speach
      flex: 1;
      p
        white-space: pre-line;
        margin: 0;
        padding: 1em;

  .roll
    margin: 1em;
    p
      margin-bottom: .2em;
    span
      font-size: 1.3em;
      display: inline-block;
      padding: .5em;
      vertical-align: baseline;
      border-radius: .5em;
      line-height: 1;
      margin: .2em;
      border: solid .2em transparent;

    .result
      border-color: $primary1;
      background-color: $primary1;
      color: $canvas;
    .modifier
      border-color: $primary1;
      color: $primary1;
    .total
      border-color: $text-color;
      background-color: $text-color;
      color: $canvas;
    .signal
      padding: .2em

  .time
    padding: .5em 3em 0;

.spacer
  flex: 1;

.container.me
  text-align: right;
  flex-direction: row-reverse;
  .text
    flex-direction: row-reverse;
    .line
      border-right: none;
      border-bottom-right-radius: 0;
      border-left: solid .3em $primary1;
      border-bottom-left-radius: 1em;
