@import '../config.styl';

.overlay
  overlay()
  display:         flex;
  justify-content: center;
  align-items:     center;

.content
  background-color: $canvas;
  no-select();

.title
  background-color: $accent1;
  color:            $canvas
  font-family:      $heading-font;
  font-size:        1.5em;
  text-align:       center;
  line-height:      1.5;
