// Typography
$body-font           = 'Open Sans', $helvetica
$body-color          = #444
$heading-font        = 'Dosis', $helvetica
$heading-font-weight = 400
$heading-color       = #222

// Layout Sizes
$min-sidebar-width = 320px;
$common-spacing    = 10px;
$top-bar-height    = 44px;

// Colors
main-gradient(angle = -269deg)
  background-image: linear-gradient(angle, #F3C7A1 25%, #E87975 82%);

full-size()
  position: absolute;
  top:      0;
  right:    0;
  bottom:   0;
  left:     0;
