// Typography
$min-font            = 10px
$body-font           = 'Open Sans', $helvetica
$heading-font        = 'Dosis', $helvetica
$heading-font-weight = 400

// Layout Sizes
$min-sidebar-width = 320px;
$common-spacing    = 10px;
$top-bar-height    = 52px;

// Colors

// Pallete: https://coolors.co/493548-4b4e6d-6a8d92-80b192-a1e887

$text-color = #493548
$alternative-text-color = #FFFDF7
$canvas = $alternative-text-color
$primary1 = #80B192
$primary2 = #A1E887
$accent1 = #4B4E6D
$accent2 = #6A8D92

$body-color         = $text-color
$heading-color      = darken($text-color, 15%)
$topbar-color       = $alternative-text-color

main-gradient(angle = 11deg)
  background-image: linear-gradient(angle, $primary1 8%, $primary2 92%);
  color: $alternative-text-color
menu-gradient(angle = 98deg)
  background-image: linear-gradient(angle, $body-color 25%, $heading-color 82%);
  color: $alternative-text-color

full-size()
  position: absolute;
  top:      0;
  right:    0;
  bottom:   0;
  left:     0;

simple-button(content-color = $topbar-color)
  button:      transparent 'large' content-color;
  font-family: $heading-font;
  padding:     $common-spacing;
  margin:      0;
  svg
    vertical-align: baseline !important;
