@import '../../config'

.container
  display:   inline-flex;
  flex-flow: column;
  margin:    .2em;
  border: solid 1px $primary1

  button
    min-width:   1em;
    width:       auto;
    margin:      0;
    padding:     0;
    line-height: 1;
    border:      none;
    &:focus
      outline: none;

input[type="text"].field
  min-width:      1em;
  width:          auto;
  margin:         0;
  padding:        0;
  font-size:      1em;
  text-align:     center;
  line-height:    1;
  display:        inline-block;
  vertical-align: baseline;
  border:         none;
