@import '../../config'

.container
  display: inline-flex;
  flex-flow: column;

  input
    min-width: 1em;
    width: auto;
    margin: 0;
  button
    margin: 0;
    min-width: 1em;
    width: auto;
