@import '../../config'

b-rad= .4em;

.container
  display:       inline-flex;
  flex-flow:     column;
  margin:        .2em;

  button
    min-width:        1em;
    width:            auto;
    margin:           0;
    padding:          .2em;
    line-height:      1;
    font-size:        .4em;
    border:           none;
    background-color: $primary1;
    color:            $text-color;

    &.increase
      border-top-left-radius:  b-rad;
      border-top-right-radius: b-rad;

    &.decrease
      border-bottom-left-radius:  b-rad;
      border-bottom-right-radius: b-rad;

    &:focus
      outline: none;

input[type="text"].field
  min-width:      1em;
  width:          auto;
  margin:         0;
  padding:        0;
  font-size:      1em;
  text-align:     center;
  line-height:    1;
  display:        inline-block;
  vertical-align: baseline;
  border:         solid 2px $primary1;
  border-top:     none;
  border-bottom:  none;
  color:          $text-color;
